<!DOCTYPE html>
<html>
<head>
	<title>Trollhaus</title>
	<meta name="robots" content="noindex">
	<meta name="googlebot" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		* {
			font-size:18pt; 
		}
		.trolls_list li {
			margin:3px 0 5px;
		}
	</style>
</head>
<body>
	<h1>${page_title}</h1>
	<div>
		<ul>
			<li><a href="trolls.html">Trolls</a></li>
			<li><a href="spammers.html">Spammers</a></li>
			<li><a href="./">Combined</a></li>
		</ul>
	</div>
	<div class="trolls_list">
		${trolls_list}
	</div>
	<div>
		Last update: ${build_time}
	</div>
</body>
</html>